<div class="overlay-container">
    <div class="overlay">
        <div class="overlay-panel overlay-right">
            <img class="fullLOGO" src="Resources/smallLOGO.png" alt="Eminent">
            
        </div>
    </div>
</div>
</div>

</body>
</html>