<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="Resources/smallLOGO.png" />
    <link rel="stylesheet" href="CSS/dashboard_styles.css" />
    <title>Dashboard</title>
</head>

<body>
    <div class="headergraphic">
        <div class="navbar">
            <img class="logo" src="Resources/smallLOGO.png" alt="img" />
            <ul class="navmenu">
                <a href="/user"><button class="head" type="button">DASHBOARD</button></a>
                <a href="/profile"><button class="head" type="button">PROFILE</button></a>
                <a href="/calculator"><button class="head" type="button">CALC</button></a>
                <a href="/logout"><button class="head" type="button">LOGOUT</button></a>
            </ul>
        </div>
    </div>