<footer >
    <h3 class="fHead" >EMINENT BANKING SOLUTIONS</h3>
    
    <table class="footTable" >
        <tr>
            <th width=".5%"  class="last"></th>
            <th width="33.33%" >
                About
            </th>
            <th width="33.33%" >
                Contact Us
            </th>
            <th width="33.33%" >
                Address
            </th>
            <th width=".5%"  class="last"></th>
        </tr>
        <tr class="last">
            <th width="1%"  class="last"></th>
            <th width="33%"  class="last">This is a Retail Netbanking Portal. You can manage your account securites online.</th>
            
            <th width="33%"  class="last">eminentBank@gmail.com</th>
            <th width="33%"  class="last">fgbrhtrrrhgfgbfg, dgfhiwffov</th>
            <th width=".5%"  class="last"></th>
        </tr>
    </table>
</footer>

</body>
</html>