<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/dashboard_styles.css" />
    <title>Holidays</title>
  </head>
  <body>
    <div class="holiday_container">
      <div class="holiday_heading">
        <p>List of our Bank Holidays</p>
      </div>

      <div class="holiday_cards">
        <div class="holiday_card">

          <p class="holiday_month_heading">January</p>
          <p class="holiday_text">14/01/2022 --> Makar Sankranti</p>
          <p class="holiday_text">26/01/2022 --> Republic Day</p>

          <p class="holiday_month_heading">March</p>
          <p class="holiday_text">01/03/2022 --> Maha Shivratri</p>
          <p class="holiday_text">18/03/2022 --> Holi</p>

          <p class="holiday_month_heading">April</p>
          <p class="holiday_text">10/04/2022 --> Rama Navami</p>
          <p class="holiday_text">15/04/2022 --> Good Friday</p>

          <p class="holiday_month_heading">May</p>
          <p class="holiday_text">02/05/2022 --> Lord Parshuram Jayanti</p>

          <p class="holiday_month_heading">July</p>
          <p class="holiday_text">03/07/2022 --> Eid-ul-Fitr</p>

          <p class="holiday_month_heading">August</p>
          <p class="holiday_text">08/08/2022 --> Ashura</p>
          <p class="holiday_text">11/08/2022 --> Raksha Bandhan</p>
          <p class="holiday_text">15/08/2022 --> Independence Day</p>
          <p class="holiday_text">19/08/2022 --> Krishna Janmashtami</p>
          <p class="holiday_text">31/08/2022 --> Ganesh Chaturthi</p>

          <p class="holiday_month_heading">September</p>
          <p class="holiday_text">01/09/2022 --> Samvatsari</p>

          <p class="holiday_month_heading">October</p>
          <p class="holiday_text">02/10/2022 --> Gandhi Jayanti</p>
          <p class="holiday_text">05/10/2022 --> Dussehra</p>
          <p class="holiday_text">24/10/2022 --> Diwali</p>
          <p class="holiday_text">31/10/2022 --> Sardar Patel Jayanti</p>

          <p class="holiday_month_heading">November</p>
          <p class="holiday_text">08/11/2022</p>

          <p class="holiday_month_heading">December</p>
          <p class="holiday_text">25/12/2022 --> Christmas</p>
        </div>
      </div>
    </div>
  </body>
</html>
