<%- include("partials/header") %>
  <div class="container_home" id="container">

    <div class="form-container log-in-container">

      <form action="#">
        <img class="img" src="Resources/Bank.png" alt="">
        <a class="home_heads" href="">TRANSFER MONEY</a>
        <a class="detail" href="">Transfer Money digitally to account of others within Eminent Bank instantly. With no
          hidden charges.</a>
        <img class="img" src="Resources/Calc.png" alt="">
        <a class="home_heads" href="">CALCs </a>
        <a href="" class="detail">Calculate EMI and interest on loan with our advanced calculators. All the calculators
          are subjected to loyalty free usage.</a>
        <img class="img" src="Resources/Money.png" alt="">
        <a class="home_heads" href="">ONLINE ACCESS</a>
        <a href="" class="detail">Access anywhere on any device at the convenience of your fingertips.</a>
      </form>


    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <img class="fullLOGO" src="Resources/smallLOGO.png" alt="Eminent">

        </div>
      </div>
    </div>
  </div>
  <%- include("partials/footer") %>