<%- include("partials/header") %>
    <div class="title">
        <h1>Profile</h1>
    </div>

    <div class="container_profile">

        <h3 class="profile"> Ashish Kumar Gupta | Customer ID: 123456543 </h3>
        <h3 class="first">Account No: 12793872897123</h3>
        <table class="conTable">

            <tr>
                <th>
                    <h3>User ID:</h3>
                </th>
                <th>
                    <p><%= user.local.email %></p>
                </th>
            </tr>
            <tr>
                <th>
                    <h3>Address:</h3>
                </th>
                <th>
                    <p>afaeifjsfnssjfjs, sjefh</p>
                </th>
            </tr>
            <tr>
                <th>
                    <h3>Mobile No:</h3>
                </th>
                <th>
                    <p>XXXXXXXXXX</p>
                </th>
            </tr>
            <tr class="conLast">
                <th class="conLast">
                    <h3>Email:</h3>
                </th>
                <th class="conLast">
                    <p>XXXXXXXXXX@gmail.com</p>
                </th>
            </tr>

        </table>

        <a class="forgotPassword" href="/">Forgot Password?</a>
        <button class="logOut">Log out</button>
    </div>
    <%- include("partials/footer") %>