<%- include("partials/header") %>
    <div class="container" id="container">
    
		<div class="form-container log-in-container">
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
			<form action="/signup" method="post">
                 <img class="logo" src="Resources/smallLOGO.png" alt="Eminent">
                 <h1 class="Eminent">Eminent Banking Solutions</h1>
                 <p class="detail">This is a Retail Netbanking Portal. You can manage your account securites online.</p>

				<h1 class="netbanking">Registration</h1>
                <input class="username" type="username" placeholder="Email ID" />
				<input class="username" type="Username" placeholder="Username" />
				<input class="password" type="Password" placeholder="Password" />
                <input class="password" type="Password" placeholder="Confirm Password" />
                <a href=""><button type="button" class="sign_in">REGISTER</button></a>	
                <p>Already have an account? <a href=""><button type="button" class="sign_in">LOG-IN</button></a></p>
			</form>

		</div>
<%- include("partials/aside") %>