<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="Resources/smallLOGO.png" />
    <link rel="stylesheet" href="CSS/styles.css" />
    <title>Dashboard</title>
</head>

<body>
    <div class="headergraphic">
        <div class="navbar">
            <img class="logo" src="Resources/smallLOGO.png" alt="img" />
            <ul class="navmenu">
                <a href="/user"><button class="head" type="button">DASHBOARD</button></a>
                <a href="/profile"><button class="head" type="button">PROFILE</button></a>
                <a href=""><button class="head" type="button">FAQs</button></a>
                <a href="/logout"><button class="head" type="button">LOGOUT</button></a>
            </ul>
        </div>
    </div>

    <div class="transfer_head">
        <p class="transfer_wel"><button class="transfer_button">WELCOME <%= user.personal.name %></button></p>
        <p class="transfer_desc">This is the transfer portal. Enter the details carefully and proceed for instant
            transfer. This is an intra-bank transfer interface. Thus, transferrable party must be enrolled with us.</p>
    </div>

    <div class="container_transfer" id="container">

        <div class="form-container log-in-container">

            <form action="/money_transfer" method="post">
                <img class="logo" src="Resources/smallLOGO.png" alt="Eminent">
                <h1 class="Eminent">Eminent Banking Solutions</h1>
                <p class="detail">Enter the Details. Ensure stable internet connection while proceeding for the payment.
                </p>

                <h1 class="netbanking">Intra-Transfer Gateway</h1>
                <% if (message.length> 0) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                    <% } %>
                        <input class="username" type="Username" placeholder="Name of Account Holder" name="sendname" />
                        <input class="password" type="Password" placeholder="Account Number" name="sendaccount" />
                        <input class="username" type="Username" placeholder="IFSC Code" />
                        <input class="username" type="Username" placeholder="Amount(₹)" name="amount" name="sendamount"/>
                        <input class="username" type="Password" placeholder="PIN" name="pin" />
                        <input type="hidden" value="<%= user.local.username %>" name="username" />
                        <button type="submit" class="sign_in">TRANSFER</button>
            </form>

        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <img class="fullLOGO" src="Resources/smallLOGO.png" alt="Eminent">
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer") %>