<div class="cards">
    <div class="card_text">
        <p>Your Cards :</p>
    </div>
    <div class="card_flex">
        <% user.creditCard.forEach(function(item) { %>

            <div class="card">
                <div class="card_body">
                    <p class="card_title">
                        <%= item.cardNumber %>
                    </p>
                    <p class="card_name">
                        <%= item.cardname %>
                    </p>
                    <div class="card_footer">
                        <p class="card_date">Expiry:<%= item.expiry %>
                        </p>
                        <img src="Resources/smallLOGO.svg" alt="img" />
                    </div>
                </div>
            </div>

            <%})%>
    </div>
</div>